<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>关于项目&作者</title>

<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/demo.css" />

<!--必要样式-->
<link rel="stylesheet" type="text/css" href="css/component.css" />

<!--[if IE]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<h1 class="main-title" style=font-size:25px>---MORE--- <span class="thin" >
					</br></br>
					</br>『关于项目』
					</br>
					</br>基于Python Django框架开发的游戏直播爬虫网站
					</br>
					</br>解决游戏宅切换直播平台的烦恼 :)
					</br>
					</br><p style=text-transform:none;margin-top:0px>github.com/guodongggg/live</p>
					</br>
					</br>『关于作者』
					</br>
					</br>果冻—运维开发工程师
					</br>
					</br>O ever youthful，O ever weeping
					</br>
					</br><p style=text-transform:none;margin-top:0px>guodongggg@gmail.com</p>
					</span></h1>
				</div>
			</div>
		</div><!-- /container -->
		<script src="js/TweenLite.min.js"></script>
		<script src="js/EasePack.min.js"></script>
		<script src="js/rAF.js"></script>
		<script src="js/demo-1.js"></script>
	</body>
</html>