<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ShowLive</title>
</head>
<body style="margin-top: 0;margin-right: 0;">
<div id="container" style="width:100%">

<div id="header" style="background-color:#e3f6ff;">
<h1 style="margin-bottom:0;margin-top: 0;">ShowLive</h1></div>

<div id="menu" style="height:700px;width:10%;float:left;background: linear-gradient(to bottom, #f6f6f6 ,white)">
<b>列表</b><br>
英雄联盟<br>
--------<br>
更多的内容和功能会陆续更新，有任何问题可以邮件联系我<br>
--------<br>
</div>
<!--<div id="content" style="background-color:#EEEEEE;height:100%;width:90%;float:left;"> -->
<div id="content" style="height:100%;width:90%;float:left;">
<!--
    {% for info in infos  %}
        <div id="room" style="background-color:#f6f6f6;float:left; height: 311px;margin-bottom: 10px">
            <a href="{{ info.url }}" target="_blank"><img src="{{ info.room_src }}" alt="boom" /></a>
            <p>{{ info.nickname }}</p>
            <a href="{{ info.url }}" target="_blank"><p>{{ info.room_name }}</p></a>
            <p>人气：{{  info.online }}</p>
        </div>
    {% endfor %}

    {% for huya in huya_list  %}
        <div id="room" style="background-color:#f6f6f6;float:left; height: 311px;margin-bottom: 10px">
            <a href="{{ huya.url }}" target="_blank"><img src="{{ huya.room_src }}" alt="boom" /></a>
            <p>{{ huya.nickname }}</p>
            <a href="{{ huya.url }}" target="_blank"><p>{{ huya.room_name }}</p></a>
            <p>人气：{{  huya.online }}</p>
        </div>
    {% endfor %}
-->
    {% for all_info in all_infos %}
        <div id="room" style="background-color:#f6f6f6;float:left; height: 311px;margin-bottom: 10px">
            <a href="{{ all_info.url }}" target="_blank"><img src="{{ all_info.room_src }}" alt="boom" style="width: 200px;height: 110px;border-radius: 10px;" /></a>
            <p>{{ all_info.nickname }}</p>
            <a href="{{ all_info.url }}" target="_blank"><p>{{ all_info.room_name }}</p></a>
            <p>人气：{{  all_info.online }}</p>
        </div>
    {% endfor %}
</div>
<div id="footer" style="background-color:#dcdcdc;width:100%;clear:both;text-align:center;">
by © guodongggg@gmail.com</div>

</div>
</div>
</body>
</html>